<section id="features-details" class="features-details section">
    <div class="container">
        <div class="row gy-4 justify-content-between features-item">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <img src="/QuickStart-1.0.0/assets/img/features-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5 d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h3>Corporis temporibus maiores provident</h3>
                    <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    <a href="#" class="btn more-btn">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-between features-item">
            <div class="col-lg-5 d-flex align-items-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <div class="content">
                    <h3>Neque ipsum omnis sapiente quod quia dicta</h3>
                    <p>Quidem qui dolore incidunt aut. In assumenda harum id iusto lorena plasico mares</p>
                    <ul>
                        <li><i class="bi bi-easel flex-shrink-0"></i> Et corporis ea eveniet ducimus.</li>
                        <li><i class="bi bi-patch-check flex-shrink-0"></i> Exercitationem dolorem sapiente.</li>
                        <li><i class="bi bi-brightness-high flex-shrink-0"></i> Veniam quia modi magnam.</li>
                    </ul>
                    <a href="#" class="btn more-btn">Daha Fazla</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
                <img src="/QuickStart-1.0.0/assets/img/features-2.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
