<nav class="pc-sidebar">
  <div class="navbar-wrapper">
        <div class="m-header">
            <a href="/Admin/Dashboard/Index" class="b-brand text-primary" style="text-decoration: none;">
                <span class="fs-4 fw-bold">Admin Paneli</span>
            </a>
        </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item">
          <a href="/Admin/Dashboard/Index" class="pc-link">
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">Kontrol Paneli</span>
          </a>
        </li>
        <li class="pc-item pc-caption">
          <label>İçerik Yönetimi</label>
          <i class="ti ti-settings"></i>
        </li>
        <li class="pc-item">
          <a href="/Admin/About/UpdateAbout" class="pc-link">
            <span class="pc-micon"><i class="ti ti-info-circle"></i></span>
            <span class="pc-mtext">Hakkımızda</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="/Admin/Contact/UpdateContact" class="pc-link">
            <span class="pc-micon"><i class="ti ti-phone"></i></span>
            <span class="pc-mtext">İletişim</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="/Admin/Faq/Index" class="pc-link">
            <span class="pc-micon"><i class="ti ti-help"></i></span>
            <span class="pc-mtext">SSS</span>
          </a>
        </li>
                <li class="pc-item">
                    <a href="/Admin/Testimonial/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-users"></i></span>
                        <span class="pc-mtext">Referanslar</span>
                    </a>
                </li>
        <li class="pc-item">
          <a href="/Admin/Service/Index" class="pc-link">
            <span class="pc-micon"><i class="ti ti-briefcase"></i></span>
            <span class="pc-mtext">Hizmetler</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="/Admin/FeaturedService/Index" class="pc-link">
            <span class="pc-micon"><i class="ti ti-star"></i></span>
            <span class="pc-mtext">Öne Çıkan Hizmetler</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="/Admin/Feature/Index" class="pc-link">
            <span class="pc-micon"><i class="ti ti-list"></i></span>
            <span class="pc-mtext">Özellikler</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="/Admin/Pricing/Index" class="pc-link">
            <span class="pc-micon"><i class="ti ti-currency-dollar"></i></span>
            <span class="pc-mtext">Fiyatlandırma</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="/Admin/Message/Index" class="pc-link">
            <span class="pc-micon"><i class="ti ti-mail"></i></span>
            <span class="pc-mtext">Mesajlar</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="/Admin/Newsletter/Index" class="pc-link">
            <span class="pc-micon"><i class="ti ti-news"></i></span>
            <span class="pc-mtext">Bülten</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
