<footer id="footer" class="footer position-relative light-background">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="/" class="logo d-flex align-items-center">
                    <span class="sitename">QuickStart</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>A108 Adam Street</p>
                    <p>New York, NY 535022</p>
                    <p class="mt-3"><strong>Telefon:</strong> <span>+1 5589 55488 55</span></p>
                    <p><strong>E-posta:</strong> <span>info@example.com</span></p>
                </div>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Faydalı Bağlantılar</h4>
                <ul>
                    <li><a href="#">Ana Sayfa</a></li>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Hizmetler</a></li>
                    <li><a href="#">Kullanım Koşulları</a></li>
                    <li><a href="#">Gizlilik Politikası</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Hizmetlerimiz</h4>
                <ul>
                    <li><a href="#">Web Tasarım</a></li>
                    <li><a href="#">Web Geliştirme</a></li>
                    <li><a href="#">Ürün Yönetimi</a></li>
                    <li><a href="#">Pazarlama</a></li>
                    <li><a href="#">Grafik Tasarım</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 footer-newsletter">
                <h4>Bültenimiz</h4>
                <p>Bültenimize abone olun, ürün ve hizmetlerimiz hakkında en güncel haberleri alın!</p>
                <form action="/Newsletter/Subscribe" method="post" class="mt-3">
                    <div class="input-group shadow-sm rounded">
                        <input type="email" name="Email" class="form-control py-3 px-4 border-0" placeholder="E-posta adresinizi girin" required>
                        <button class="btn btn-primary px-4 fw-bold" type="submit">Abone Ol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container copyright text-center mt-4">
        <p>© <span>Telif Hakkı</span> <strong class="px-1 sitename">Tunahan Cengiz</strong><span>Tüm Hakları Saklıdır</span></p>
    </div>
</footer>
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>
