@using QuickStartProject.WebUILayer.DTOs.FeaturedServiceDTOs
@model List<ResultFeaturedServiceDTO>
@{
    int count = 0;
}
<section id="featured-services" class="featured-services section light-background">
    <div class="container">
        <div class="row gy-4">
            @foreach(var item in Model)
            {
                count += 100;
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="@count">
                    <div class="service-item d-flex">
                        <div class="icon flex-shrink-0"><i class="@item.Icon"></i></div>
                        <div>
                            <h4 class="title"><a href="#" class="stretched-link">@item.Title</a></h4>
                            <p class="description">@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
