@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_HomeHeadComponentPartial")
<body class="index-page">
@await Component.InvokeAsync("_HomeHeaderComponentPartial")
<main class="main">
@await Component.InvokeAsync("_HomeHeroComponentPartial")
@await Component.InvokeAsync("_HomeFeaturedServicesComponentPartial")
@await Component.InvokeAsync("_HomeAboutComponentPartial")
@await Component.InvokeAsync("_HomeClientsComponentPartial")
@await Component.InvokeAsync("_HomeFeaturesComponentPartial")
@await Component.InvokeAsync("_HomeFeaturesDetailsComponentPartial")
@await Component.InvokeAsync("_HomeServicesComponentPartial")
@await Component.InvokeAsync("_HomeMoreFeaturesComponentPartial")
@await Component.InvokeAsync("_HomePricingComponentPartial")
@await Component.InvokeAsync("_HomeFaqComponentPartial")
@await Component.InvokeAsync("_HomeTestimonialsComponentPartial")
@await Component.InvokeAsync("_HomeContactComponentPartial")
</main>
@await Component.InvokeAsync("_HomeFooterComponentPartial")
@await Component.InvokeAsync("_HomeScriptsComponentPartial")
</body>
</html>
