<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col-sm my-1">
        <p class="m-0">QuickStart &#9829; <a href="https://themeforest.net/user/codedthemes" target="_blank">Codedthemes</a> tarafından hazırlanmıştır. <a href="https://themewagon.com/">ThemeWagon</a> tarafından dağıtılmaktadır.</p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a href="/">Ana Sayfa</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
